.card-img-top{
    max-width: 540px;
    max-height: 540px;
   
}
.card-img-top:hover{
    filter: grayscale(80%);
    
}

.card:hover {
   
    box-shadow: 0px 0px 10px 10px rgb(184,219,217);
}
#texto {
color: black;
    text-shadow: 2px 2px 0 #7A7A7A;
}
#titulo {
    text-shadow: 2px 2px 0 black;
}


body {
    background-image: url("https://i.pinimg.com/originals/c2/48/18/c24818f7adde1afdf5240e4d109fc94e.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:#fffffff5;
    background-size: cover;
    
    }
    
    