.navbar-custom {
    background: rgb(26, 177, 94);
    background: -moz-linear-gradient(270deg, rgb(26, 177, 94) 40%, rgb(2, 146, 67) 65%);
    background: -webkit-linear-gradient(270deg, rgb(26, 177, 94) 40%, rgb(2, 146, 67) 65%);
    background: -o-linear-gradient(270deg, rgb(26, 177, 94 ) 40%, rgb(2, 146, 67) 65%);
    background: -ms-linear-gradient (270deg, rgb(26, 177, 94) 40%, rgb(2, 146, 67) 65%);
    background: linear-gradient(0deg, rgb(26, 177, 94) 40%, rgb(2, 146, 67) 65%);
    color: #EAEBED;}
#navbarimagen {
    width: 70px;
    height: 70px;


}